<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bidancare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ADMIN.sign_admin"></activity>
        <activity android:name=".BIDAN.Sign_bidan" />
        <activity android:name=".ADMIN.Edit_form" />
        <activity android:name=".ADMIN.form_admin" />
        <activity android:name=".ADMIN.InputAdmin" />
        <activity
            android:name=".USER.Home_user"
            android:label="@string/app_name" />
        <activity android:name=".ADMIN.Home_admin" />
        <activity android:name=".ADMIN.login_admin" />
        <activity android:name=".ChoiceLog" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".BIDAN.MainActivity" />
    </application>

</manifest>